In [23]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
donations = pd.read_csv('opendata_donations.csv', index_col=None) 
donations.head(5)

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,00000ce845c00cbf0686c992fc369df4,7be7184572a67468a2ef4402e7de6c99,01e2385f52c03386ee345c517be8f84e,NaN,NaN,NY,NaN,f,36:26.8,21.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000174d1d38072889d47e51b587a10c,fbef21e4fdf303eebe6c48b99ef9de8f,f495e99822acc50e934a57943400bcfe,db07e0db53dfa402c4a2aa02d46583d4,San Francisco,CA,941,f,07:26.1,1817.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0000219e4b37d2504fb6b8c28e24a2d4,b4afbc05ce9ff8420c176810bd59db79,d63c0d8e5b76530d476486e3336e1f3c,9bd9e83716ecd6bee6e467e9b82964ab,Ballwin,MO,630,f,29:59.3,40.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0000300773fe015f870914b42528541b,f8fac919961560831eac7e5dd05c872d,e0dd67c660dc50ec1b2dadf37f3c65d4,NaN,NaN,NY,100,f,54:57.7,21.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000048290a3054197cc33ba82633d7c3,de2f3691169dd3439ee37a78b49296e7,f00a2c100229d370655841ed8341baed,49e3f476b31da5bcd1d077e2c491d1b3,NaN,TN,373,t,58:11.7,0.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN